<!--start footer-->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6">
				<div class="dividerWidget">
					<h4>Contact</h4>
					<div class="gDot widget"></div>
				</div>
				<div class="widfoot_content">
					<p>If you have a service enquiry, or are looking to engage with us on an innovative idea, we are all ears to hear from you.</p>
					<ul class="contact-details-alt">
						<li><i class="fa fa-user"></i>
							<p>
								<strong>Phone</strong>: (+91) 9810832351
							</p></li>
						<li><i class="fa fa-envelope"></i>
							<p>
								<strong>Email</strong>: <a
									href="mailto:contact@rmgx.in?subject=Regarding%20{replace%20with%20the%20subject}">contact@rmgx.in</a>
							</p></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6">
				<div class="dividerWidget">
					<h4>Quick Links</h4>
					<div class="gDot widget"></div>
				</div>
				<div class="widfoot_content">
					<ul class="links">
						<li><i class="fa fa-caret-right"></i> <a href="{{ site.domainurl }}/projects">Projects</a>
						</li>
						<li><i class="fa fa-caret-right"></i> <a href="{{ site.domainurl }}/blogs">Blogs</a>
						</li>
						<li><i class="fa fa-caret-right"></i> <a href="{{ site.domainurl }}/about">About</a>
						</li>
							<li><i class="fa fa-caret-right"></i> <a href="{{ site.domainurl }}/contact">Contact</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<!--end footer-->

<section class="footer_bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<p class="copyright">&copy; Copyright 2015 RMgX</p>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="footer_social">
					<ul class="footbot_social">
						<!-- <li><a class="fb" href="#." data-placement="top" data-toggle="tooltip" title="Facbook"><i class="fa fa-facebook"></i></a></li> -->
						<li><a class="linkedin"
							href="https://www.linkedin.com/company/rmgx" data-placement="top"
							data-toggle="tooltip" title="LinkedIn" target="_blank"> <i
								class="fa fa-linkedin"></i>
						</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>