<!--Start Header-->
<header id="header">
	<!-- Container -->
	<div class="container">
		<div class="row">
			<!-- Logo / Mobile Menu -->
			<div class="col-sm-2 col-md-2 col-lg-2">
				<div id="mobile-navigation">
					<a href="#menu" class="menu-trigger"><i class="fa fa-bars"></i>
					</a>
				</div>

				<div id="logo">
					<h1>
						<a href="{{ site.domainurl }}"> <img src="/img/logo.png" alt="RMgX" /> RMgX
						</a>
					</h1>
				</div>
			</div>

			<!-- Navigation
				================================================== -->
			<div class="col-lg-10 col-md-10">
				<nav id="navigation" class="menu">
					<ul id="responsive">
						<li><a href="{{ site.domainurl }}/home">Home</a></li>
						<li><a href="{{ site.domainurl }}/projects">Projects</a></li>
						<li><a href="{{ site.domainurl }}/blogs" id="current">Blog</a></li>
						<li><a href="{{ site.domainurl }}/about">About</a></li>
						<li><a href="{{ site.domainurl }}/contact">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<!-- Container / End -->
</header>
<!--End Header-->